/*
@--reset;

@--reset div;

@--element p and (min-width: 500) {
  :--self {
    background: lime;
  }
}

@--element input and (min-characters: 5) {
  :--self {
    background: lime;
  }
}

@--variation 1 {
  variation 1 {
    --yay: you did it!;
  }
}

h1 {
  --clamped-font-size: 30, 10, 75;
}

@--document regexp(staticresource.com) {
  * {
    border: 1px solid red;
  }
}

h1 {
  font-size: 10--ew;
}

li:--parent {
  border: 4px dotted hotpink;
}

*/