@--property --color {
  syntax: "<color>";
  inherits: false;
  initial-value: 'true';
}

:root {
  --color: red;
  background-color: var(--color);
  transition: --color 1s ease-in-out;
}

:root:hover {
  --color: lime;
}